###############################################################################
# General
###############################################################################
* text=auto

###############################################################################
# User-specific files
###############################################################################
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

###############################################################################
# Build results
###############################################################################
[Dd]ebug*/
[Rr]elease*/
[Bb]in/
[Oo]bj/
x64/
x86/
[Aa][Rr][Mm]*/
bld/
[Ll]og/
*.log
*.tmp

###############################################################################
# Visual Studio / VS Code
###############################################################################
.vs/
.vscode/
*.psess
*.vsp
*.vspx
*.coverage
*.coveragexml

###############################################################################
# Package management
###############################################################################
*.nupkg
*.snupkg
*.nuspec
project.lock.json
project.fragment.lock.json
artifacts/

###############################################################################
# Rider / JetBrains IDEs
###############################################################################
.idea/

###############################################################################
# ASP.NET Core
###############################################################################
appsettings.Development.json
secrets.json
*.pfx
*.publishsettings

###############################################################################
# Entity Framework & Migrations
###############################################################################
**/Migrations/
**/*.dbmdl
*.dbproj.schemaview
*.sql
*.bak
*.mdf
*.ldf

###############################################################################
# DLLs and executables
###############################################################################
*.dll
*.exe
*.cache
*.msi

###############################################################################
# Git
###############################################################################
*.orig
*.rej

###############################################################################
# Logs
###############################################################################
*.log

###############################################################################
# Misc
###############################################################################
Thumbs.db
ehthumbs.db
Desktop.ini
